pkgbase = potato
	pkgdesc = A pomodoro timer for the shell
	pkgver = 1
	pkgrel = 1
	url = https://github.com/Bladtman242/potato
	arch = any
	license = MIT
	depends = alsa-utils
	provides = potato
	source = potato.sh
	source = LICENSE
	md5sums = 6043a811d91b4c773f13182f9bf4a032
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato

